.bdy {
    background-color: #34495e;
}


/* character */

.character {
    width: 230px;
    margin-top: 150px;
    margin-left: 100px;
    position: absolute;
    z-index: 2;
}

.img {
    position: absolute;
    margin-top: 360px;
    width: 70px;
    z-index: 1;
}


/* Buttons */

.controlBtn {
    width: 25px;
}


/* Press Enter to start */

.gameStartText {
    margin-top: 300px;
}


/* box */

.box {
    position: absolute;
    background-color: #dc143c;
    border-radius: 7px;
    border: 3px solid yellow;
    width: 20px;
    height: 70px;
    margin-top: 340px;
}